@font-face {
    font-family: Kurd-font;
    src: url('../font/Kurd-font.ttf');
}
*{
    font-family: Kurd-font;
}

body{
    margin: 0;
 
    overflow-x: hidden;
    box-sizing: border-box;

}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #dedcdc;
 
}
.row-1 h1{
    font-size: 2.2rem;
    color: #3B4144;

}

#Logo-img{
    width: 70px;
    height: 70px;
    padding-left: 20px;

}




.row-1 ul{

    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    font-size: 1.7rem;


 
}





.row-1 ul li a{
 text-decoration: none;
 color: black;
 font-weight: 500;
 padding: 5px 12px;
 border-radius: 10px;
 transition: .4s;
}
.row-1 ul li a:hover{
    background-color: #D93C23;
    font-weight: 700;
    color: #fff;
}

.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 40px;


    
 
}

.register-img{
    width: 30px;
    height: 30px;
    transition: .4s;
    cursor: pointer;
}

.register-img:hover{
    filter: invert(30%) sepia(23%) saturate(6074%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

#menu{
    width: 30px;
    height: 30px;
    display: none;
  
}

@media (max-width:750px){
    .btn-1{
        display: none;
    }
    .row-1{
        justify-content: space-around;
    }
    #menu{
     display: block;
    }
}
@media(max-width:600px){
    .row-1 ul{
        display: none;
    }
    .row-1 h1{
       width: 220px;
    }
}



#settings{
width: 25px;
height: 25px;
cursor: pointer;
transition: .4s;
}
#settings:hover{
    filter: invert(29%) sepia(100%) saturate(1524%) hue-rotate(346deg) brightness(88%) contrast(94%);
    }